.menu {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  list-style: none;
  justify-content: space-around;
}

.menu li {
  background-color:fuchsia;
  border-radius: 10px;
  padding: 10px;
}

.menu li a {
  color: black;
  text-decoration: none;

}